# Rust
/target

# OS
Thumbs.db
.DS_Store

# Claude
.claude

# Zed
.zed

# Keys/Creds
*.pem
*.key

# Personal - Notes, Docs, Examples, Testing, etc.
notes/*
bench_baseline/

# Fuzzing
corpus
artifacts
coverage
